/* home */
@use "../base/typography" as type;

body {
    font-family: "Poppins";
    background: rgb(200, 220, 231);
    background: #18181a;
    color: black;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

h1 {
    font-size: clamp(2.5em, 5vw + 1em, 4em);
    font-weight: 800;
    width: min-content;
    color: white;
    margin-inline: auto;

    @media (min-width: 1000px) {
        margin-inline-start: 30%;
        font-size: 5em;
    }
}

h2 {
    font-size: clamp(1em, 3vw + 1em, 2em);
    font-weight: 700;
}

img {
    position: absolute;
    z-index: -1;
    height: 100vh;
    inset-inline-start: 0;
    inset-block-start: 0;
}

.container {
    display: block;
    background: rgba(255, 255, 255, 0.2);
    padding: 3em;
    border-radius: 3em;
    position: relative;
    backdrop-filter: blur(30px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    z-index: 1;
    width: fit-content;
    margin-block: 10rem 2rem;
    margin-inline: auto;

    @media (min-width: 1000px) {
        margin-inline-start: 30%;
    }
}